@import './_reset.css';
@import './_normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
  }

  .font-12 {
    @apply text-12 leading-[2.2rem];
  }
  .font-14 {
    @apply text-14 leading-[2.2rem];
  }
  .font-16 {
    @apply text-16 leading-[2rem];
  }
  .font-18 {
    @apply text-18 leading-[2.25rem];
  }
  .font-24 {
    @apply text-24 leading-[3rem];
  }
  .font-36 {
    @apply text-36 leading-[4.5rem] tracking-[-0.01em];
  }
}

@font-face {
  font-family: 'UncutSans';
  src: url('../../public/fonts/Uncut-Sans/Uncut-Sans-Bold.woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UncutSans';
  src: url('../../public/fonts/Uncut-Sans/Uncut-Sans-Semibold.woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'UncutSans';
  src: url('../../public/fonts/Uncut-Sans/Uncut-Sans-Medium.woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'UncutSans';
  src: url('../../public/fonts/Uncut-Sans/Uncut-Sans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}
